.managee-map {

}
.managee-leaflet-edit-tooltip {
    display: none;
    position: absolute;
    background: #666;
    color: white;
    opacity: 0.5;
    padding: 10px;
    border: 1px dashed #999;
    font-family: sans-serif;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    z-index: 1000;
}

.managee-map .main-container {
    font-family: Arial, serif !important;
    background-color: #e5e5e5;
    display: flex;
    height: 100%;
    font-size: 16px;
}

.managee-map a.leaflet-control-zoom-in {
    text-decoration: none !important;
}

.managee-map a.leaflet-control-zoom-out {
    text-decoration: none !important;
}

.managee-map .map-column {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
}
.managee-map .info-column {
    color: #000000;
    background-color: #ffffff;
    max-width: 500px;
    width: 100%;
}
.managee-map .info-column .content {
    margin:  0;
    height: calc(100% - 40px) !important;
    width: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    border: none;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.managee-map .info-column .content::-webkit-scrollbar {
    display: none;
    width: 0px;
    height: 0px;
}

.managee-map .info-column .content img {
    max-width: 100%;
}
.managee-map .info-column .content ul  {
    list-style: disc;
    padding-left: 20px;
}

.managee-map .layer-column {
    color: white;
    background-color: #565656;
    max-width: 200px;
    width: 100%;
    cursor: default;
    flex: 100%;
    overflow-y: scroll;
}

.managee-map .layer-column .title {
    display: block;
    font-weight: bold;
    margin: 10px 10px;
}
.managee-map .layer-column .layer-container {
    background-color: #505050;
    border-bottom: 1px solid gray;
    margin: 0;
}

.managee-map .layer-column .layer-container .layer-title{
    font-size: 14px;
    padding: 5px;
    padding-left: 10px;
    cursor: pointer;
}
.managee-map .layer-column .layer-container .layer{
    border-top: 1px solid #808080;
    font-size: 12px;
    background-color: #626262;
    padding: 5px;
    padding-left: 15px;
    cursor: pointer;
}
.managee-map .layer-column .layer-container .layer:hover{
    background-color: #838383;
}
.managee-map .layer-column .layer-container .layer.active{
    background-color: #929292;
}

.managee-map .info-column .title {
    display: block;
    font-weight: bold;
    margin: 10px;
}

.managee-map .edit-container {
    margin-top: 10px;
    display: flex;
}

.managee-map .edit-column {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px !important;
    border: 1px solid #ccd0d4;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    flex: 50%;
}
.managee-map .edit-column .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px !important;
    display: block;
}
.managee-map .json-column {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px !important;
    border: 1px solid #ccd0d4;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    flex: 50%;
}

.managee-map .json-column .content {
    display: block;
    width: 100%;
}
/*
Round icons for the leaflet maps that can be colorized.
 */
.managee-map .round-icon {
    transition: box-shadow 0.5s;
    border-radius: 50%;
    box-shadow: 0 0 0 5px;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}
.managee-map .leaflet-zoom-anim .round-icon {
    transition: box-shadow 0.5s, transform 0.25s cubic-bezier(0,0,0.25,1);
}

.managee-map .round-icon:hover {
    box-shadow: 0 0 0 7px;
}

.managee-map .round-icon.selected {
    box-shadow: 0 0 0 7px;
}

.managee-map .round-icon.hidden {
    pointer-events: none;
    display: none;
}

.managee-map .leaflet-interactive.hidden {
    display: none;
}

/*
Publish button and message styles
 */
.managee-map .publish-button {
    border-color: #148d00 !important;
    background-color: #f1fff1 !important;
    color: #148d00 !important;
}

.managee-map .save-response {
    border: 1px solid #148d00 !important;
    border-radius: 3px;
    height: 28px;
    background-color: #f1fff1 !important;
    color: #148d00 !important;
    padding: 0 10px;
    margin-left: 10px;
    line-height: 28px;
    display: inline-block;
}

/*
Popup window for the "Import GeoJSON" and "Edit Feature" views.
 */
.managee-map-popup {
    position: fixed;
    width: 100%;
    height: calc(100% - 80px);
    z-index: 10000;
    padding: 40px 0;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.35);
    display: none;
    align-items: center;
    justify-content: center;
}

.managee-map-popup label {
    margin-bottom: 4px;
}

.managee-map-popup.active {
    display: flex;
}

.managee-map-popup .content {
    display: block;
    max-width: 600px;
    max-height: 100%;
    padding: 25px;
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: black;
}

.managee-map-popup .header {
    text-align: right;
    margin-bottom: -20px;
}

/* CSS Loader Animation */
.managee-map .loader-container {
    color: #5f5f5f;
    width: 100%;
    text-align: center;
    padding-top: 50px;
}
.managee-map .loader-container .loader {
    border: 8px solid #5f5f5f; /* Light grey */
    border-top: 8px solid #2494ff; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: managee-map-spin 1s linear infinite;
    display: inline-block;
}

@keyframes managee-map-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*
 * Map Menu
 */
.managee-map .map-menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    background-color: #0d66c2;
    z-index: 10000;
    cursor: default;
}

.managee-map .layer-column {
    transition: 0.5s;
    max-width: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.managee-map .layer-column::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
.managee-map .info-column::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.managee-map.menu-visible .layer-column {
    max-width: 350px;
}

.managee-map:not(.small) .layer-container {
    width: 350px;
}

.managee-map.small .layer-column {
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    z-index: 10000;
    cursor: default;
}

.managee-map.menu-visible.small .layer-column {
    top: 0;
}


.managee-map .info-column {
    transition: 0.5s;
    max-width: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.managee-map:not(.small) .info-column .content {
    width: 350px;
}

.managee-map.info-visible .info-column {
    max-width: 350px;
}

.managee-map.small .info-column {
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    z-index: 10001;
    cursor: default;
}

.managee-map.info-visible.small .info-column {
    top: 0;
}

.managee-map.small .map-menu {
    bottom: 0;
    left: 0;
    top:auto;
    width: auto;
    height: 50px;
}

/*
 * Buttons
 */
.map-menu .menu-button {
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: white;
    text-align: center;
    transition: 0.5s;
}
.managee-map .map-menu .menu-button:hover {
    background-color: #1a8cff;
}

.managee-map .map-menu .detail-span, .managee-map .map-menu .detail-span.hidden {
    display: none;
}
.managee-map .map-menu .detail-button, .managee-map .map-menu .detail-button.hidden {
    display: none;
}

.managee-map.small .map-menu .open-button {
    position: absolute;
    background-color: #ff8400;
    left: 0;
    top: 0;
}
.managee-map.small .map-menu .detail-button:not(.hidden) {
    position: absolute;
    right: 0;
    background-color: #ff8400;
    display: inline-block;
}
.managee-map.small .map-menu .detail-span:not(.hidden) {
    position: absolute;
    right: 50px;
    left: 50px;
    top: 0;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    color: white;
    display: inline-block;
}

.managee-map .close-info-button {
    display: none;
}
.managee-map.small .close-info-button {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    right: 0;
    background-color: #ff8400;
    color: white;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
}
.managee-map.small .info-column .content {
    height: calc(100% - 94px) !important;
}

.managee-map .close-info-button span {
    margin-top: 14px;
}

.managee-map.small .map-menu .search-button, .managee-map.small .map-menu .close-button {
    display: none;
}

.map-menu .menu-button span {
    line-height: 50px;
    width: 100%;
    height: 100%;
}

.map-menu .search-button span, .map-menu .close-button span {
    font-size: 30px;
}

.managee-map:not(.menu-visible) .map-menu .close-button {
    display: none;
}

.managee-map.menu-visible .map-menu .open-button {
    cursor: default;
    background-color: #0c549f;
}

.managee-map .map-menu .detail-button {
    cursor: default;
    background-color: #0c549f;
}

/*
 * Responsive Classes
 */

.managee-map.fullscreen {

    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    transform: none !important;
    top: 0 !important;
    left: 0 !important;
}

.managee-map.fullscreen .map-column {
    height: 100% !important;
}
.managee-map.fullscreen .layer-column {
    height: 100% !important;
}
.managee-map.fullscreen .info-column {
    height: 100% !important;
}

.managee-map.small .map-column {
    min-width: 100%;
}
.managee-map.small .layer-column {
    min-width: 100%;
}
.managee-map.small .info-column {
    min-width: 100%;
}