/*
Default Styles for the linked node graph elements.
 */
.managee-map-node-content .measurement-node-display {
    border-radius: 5px;
    background-color: #c6c6c6;
    padding: 5px;
    cursor: pointer;
}
.managee-map-node-content .measurement-node-display-current {
    border-radius: 5px;
    background-color: #74b574;
    padding: 5px;
}
.managee-map-node-content .next-icon {
    padding-top: 5px;
    text-align: center;
}
.managee-map-node-content .child {
    cursor: pointer;
    margin: 0 4px;
}
.managee-map-node-content .child:hover {
    color: green;
}